/*Maak hier jouw CSS!*/

.grid {
    background-color: #ffefdb;
    padding: 32px;

    display: grid;
    gap: 16px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
            "A"
            "B"
            "C"
            "D"
            "E"
            "Leeg"
            "F";

}

.item {
    font-family: "Times New Roman", serif;
    padding: 16px;
    background-color: #BA3A46;
    border: #A95558;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

#A {
    grid-area: A;
}

#B {
    grid-area: B;
}

#C {
    grid-area: C;
}

#D {
    grid-area: D;
}

#E {
    grid-area: E;
}

#F {
    grid-area: F;
}

@media screen and (min-width: 576px) {
    .grid {
        max-width: 1200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 50px 100px auto 50px 50px;
        grid-template-areas:
        "A C C"
        "B C C"
        "B C C"
        "B E D"
        "B E auto"
        "F F F"
    }
}